:root {
    --bg-dark: #0a0c10;
    --panel-bg: #14181f;
    --accent-blue: #00d4ff;
    --text-main: #e0e0e0;
    --text-dim: #94a3b8;
    --border-color: #2d3748;
    --stat-high: #00ff9d;
    --stat-mid: #ffcc00;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    overflow: hidden;
}

/* --- Layout & SPA Navigation --- */
.main-header {
    background: var(--panel-bg);
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
}


.top-nav {
    display: flex;
    gap: 20px;
    margin-left: 20px;
	align-items: left;
}

.nav-btn {
    background: none;
    border: none;
    color: #666;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 10px;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

.nav-btn.active {
    color: var(--accent-blue);
    border-bottom: 2px solid var(--accent-blue);
    text-shadow: 0 0 10px var(--accent-blue);
}

.page-container { display: none; }
.page-container.active { display: block; }

/* Base Container Logic */
.page-container {
    display: none; 
    padding: 20px;
    height: calc(100vh - 80px); /* Subtract header height */
    overflow-y: auto;
}

.page-container.active {
    display: block; 
}

